body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding: 30px;
}

body hr {
  border-color: #333;
}

.HeadingGroup {
  margin-bottom: 32px;
  text-align: center;
}

.HeadingGroup__Primary {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 8px;
}

.HeadingGroup__Secondary {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 0;
}

.HeadingGroup__Image {
  border: 3px solid;
  height: 140px;
  width: 140px;
}

.Section__Heading {
  align-items: center;
  display: flex;
  font-size: 22px;
}

.Section__Heading::before {
  content: "+";
  color: #E03B24;
  padding-right: 4px;
}

.Section__Subheading {
  border-bottom: 1px solid;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.Section__Content {
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 24px;
}

.Section__ContentImage {
  height: 16px;
  padding-right: 2px;
}

.Skills {
  display: grid;
  grid-template-columns: repeat(4, 25% [col-start]);
  text-align: center;
}

.Skills__Item {
  border: 1px solid;
  margin: 4px;
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
}

.Readings {
  display: grid;
  grid-template-columns: repeat(5, 20% [col-start]);
  text-align: center;
}

.Readings__Item {
  margin: 8px;
  width: 90%;
}

.Readings__Link {
  align-items: center;
  border: 1px solid;
  display: flex;
  font-size: 48px;
  justify-content: center;
  text-decoration: none;
}

h4 {
  color: #666;
  font-style: italic;
  margin-bottom: 0;
}

a {
  color: #E03B24;
}

a:hover {
  color: #BFB68A;
}

.Section_Responsibilities {
  padding-left: 16px;
}

.Section_Responsibilities > ul {
  margin-bottom: 16px;
}

.Section_Responsibilities > li {
  list-style: none;
}

.Section_Responsibilities > li:before {
  content: "\2605";
  padding-right: 8px;
}

footer {
  font-size: 18px;
  text-align: center;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }

  table tr {
    height: 20px;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  table {
    font-size: 13px;
  }
}
