body {
  -webkit-font-smoothing: antialiased;
  background-color: #FFFAD5;
  border-top: 5px solid;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding: 30px;
}

body hr {
  border-color: #333;
}

.heading-group h1 {
  font-size: 45px;
  margin-bottom: 0px;
}

.heading-group img  {
  height: 140px;
  width: 140px;
  border: 3px solid;
}

a {
  color: #E03B24;
}

a:hover {
  color: #BFB68A;
}

h2 {
  text-transform: uppercase;
  font-size: 1.75rem;
}

h2 .sub-heading {
  font-size: 2rem;
}

.heading-group h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
}

table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

table tr {
  height: 40px;
}

table tr td {
  border: 1px solid;
}

table tr td:hover {
  background-color: #BD4932;
  color: #eee;
}

section h3 {
  text-align: right;
  border-bottom: 1px solid;
}

section h3 span:first-child {
  float: left;
}

section h4 {
  margin-bottom: 0px;
}

section p {
  margin-top: 5px;
  font-size: 1.5rem;
}

footer {
  font-size: 18px;
  text-align: center;
}

.heading-group {
  margin-bottom: 30px;
  text-align: center;
}

.glyphicon {
  margin-right: 3px;
  font-size: 16px;
}

@media print {
  .no-print, .no-print * {
      display: none !important;
  }

  table tr {
    height: 20px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  table {
    font-size: 13px;
  }
}

/* FONTS */

.audiowide {
  font-family: 'Audiowide', cursive;
}
