body {
  background-color: #3B5999;
  color: #eee;
  max-width: 750px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  border-top: 5px solid;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 45px;
  margin-bottom: 0px;
}

img  {
  height: 140px;
  width: 140px;
}

a {
  color: #F2BF80;
}

a:hover {
  color: #BFB68A;
}

h2:first-child {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
}

section h3 {
  text-align: right;
}

section h3 span:first-child {
  float: left;
}

footer {
  font-size: 18px;
  text-align: center;
}

.heading-group {
  margin-bottom: 30px;
  text-align: center;
}

/* FONTS */

.megrim {
  font-family: 'Megrim', cursive;
}

.audiowide {
  font-family: 'Audiowide', cursive;
}
